@media screen and (max-width: 576px) {
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0px 0px;
    }

    .hero-title {
        font-size: 36px;
        font-weight: 800;
        color: #1E293B;
        margin-bottom: 20px;
        line-height: 44px;
    }

    /* navbar section */
    .nav-bar {
        padding: 16px 16px;
    }

    .nav-links {
        display: none;
    }

    .primary-btn {
        display: none;
    }

    .secondary-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* social section */

    .social-logos {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
        padding: 16px 16px;
        background-color: #F8FAFC;
    }

    .logos {
        width: 96px;
        height: 64px;
    }

    /* feature-section */
    .features-section {
        padding: 16px 16px;
        background-color: #fff;
        text-align: center;
    }

    .features {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .features-section .heading {
        font-size: 30px;
        width: 100%;
    }

    /* stats feature */
    .stats-section {
        background-color: #F8FAFC;
        padding: 16px 16px;
        text-align: center;
    }

    .stats-heading {
        font-size: 30px;
        line-height: 38px;
    }

    .stats-subheading {
        font-size: 18px;
        color: #6b7280;
        max-width: 100%;
        margin: 0 auto;
    }

    .stats-grid {
        flex-direction: column;
        gap: 16px;
    }

    .divider {
        width: 100%;
        height: 1px;
    }

    /* who is for it section */
    .who-is-section {
        padding: 96px 16px;
    }

    .section-title {
        width: 80%;
    }

    .features-image img {
        max-width: 100%;
        border-radius: 34px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .content {
        flex-direction: column;
        gap: 20px;
    }

    /* testimonial section */
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .testimonial-card {
        background: white;
        padding: 20px;
        border-radius: 16px;
        border: 1px solid #E2E8F0;
        text-align: left;
        color: #475569;
    }

    /* office section */
    .office-section {
        background-color: #ffffff;
        padding: 64px 16px;
        margin: 0 auto;
    }

    .load-btn {
        display: block;
    }

    .office-locations {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .office-card {
        flex: 1;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        border: 1px solid #E2E8F0;
    }

    /* FAQ */
    .faq-section {
        background-color: #F8FAFC;
        padding: 10px 16px;
    }

    /* CTA */
    .cta-section {
        background-color: #eef2ff;
        padding: 64px 16px;
        overflow: auto;
    }

    .cta-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .cta-text {
        flex: 1;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .cta-text h2 {
        font-size: 30px;
        width: 80%;
    }

    .cta-buttons {
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .cta-images {
        flex: 1;
        position: relative;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
        margin-left: 0px;
    }

    .cta-images img {
        max-width: 50%;
        height: auto;
    }

    .img-back {
        width: 200px;
        transform: translateX(80px);
        opacity: 0.9;
        z-index: 0;
        margin-left: 0px;
    }

    .img-front {
        width: 240px;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    /* footer section */
    .footer-section {
        padding: 64px 16px;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(160px, 1fr));
        gap: 32px;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .scroll-top {
        display: none;
    }

    .scroll-tops {
        background-color: #f3f4f6;
        color: #4b5563;
        padding: 12px 14px;
        width: 24px;
        height: 24px;
        border-radius: 999px;
        font-size: 25px;
        text-decoration: none;
        transition: 0.3s;
        display: block;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px) {

    /* testimonial section */
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        flex-direction: column;
        gap: 20px;
    }
}